.container {
    max-width: 70rem;
    margin: 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

.search-field {
    margin-bottom: 0.5rem;
    width: 20rem;
}

table {
    width: 100%;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.mat-row .mat-cell {
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.mat-column-number {
    width: 9rem;
}

.mat-column-total,
.mat-column-hp,
.mat-column-atk,
.mat-column-def,
.mat-column-spAtk,
.mat-column-spDef,
.mat-column-speed {
    width: 8%;
}

.icon-wrapper,
.order {
    display: inline-block;
    vertical-align: middle;
}

.icon-wrapper {
    margin-right: 0.25rem;
    width: 68px;
    height: 56px;
}

.icon {
    vertical-align: middle;
    position: relative;
    top: -0.5rem;
    cursor: pointer;
}

.main-name {
    margin-bottom: 0;

    .specie {
        color: var(--primary-light);
        margin-right: 0.5rem;
    }

    .form {
        color: var(--text-light);
    }
}

.languages-names {
    margin-right: 0.5rem;
}

.types-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.type {
    font-size: 0.6rem;
    text-align: center;
    border-radius: 0.8rem;
    width: 5rem;
    display: flex;
    align-items: center;
}

.type-icon-wrapper {
    flex: 1;
}

.type-icon {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: auto;
    margin-left: 0.1rem;
}

.spacing {
    flex: 1;
}

.paginator {
    border-top: solid 1px #ffffff1f;
}
