<div class="container">
    <mat-form-field appearance="outline" color="primary" class="search-field">
        <mat-label>Filter</mat-label>
        <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Enter your search term..."
            #searchInput
        />
        <mat-hint>Search by name or by number</mat-hint>
    </mat-form-field>
    <table
        mat-table
        [dataSource]="pokemonList"
        matSort
        (matSortChange)="sortData($event)"
        class="mat-elevation-z8"
    >
        <!-- Order Column -->
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let pokemon">
                <span class="icon-wrapper">
                    <img
                        class="icon"
                        [src]="pokemon.icon"
                        [alt]="
                            getName(pokemon.names, 'fr') + pokemon.form !== ''
                                ? ' - ' + pokemon.form
                                : ''
                        "
                        [matTooltip]="
                            getName(pokemon.names, 'fr') + ' ' + pokemon.form
                        "
                    />
                </span>
                <span class="order">
                    {{ pokemon.order | threeCharacterNumber }}
                </span>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let pokemon">
                <p class="main-name">
                    <a routerLink="/pokedex">
                        <span class="specie mat-subheading-2">
                            {{ getName(pokemon.names, "fr") }}
                        </span>
                    </a>
                    <span class="form mat-subheading-2">
                        {{ pokemon.form }}
                    </span>
                </p>
                <span *ngFor="let name of pokemon.names">
                    <span
                        class="languages-names mat-caption"
                        *ngIf="name.languageCode !== 'fr'"
                    >
                        {{ name.name }}
                    </span>
                </span>
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let pokemon">
                <div class="types-wrapper">
                    <span
                        class="type mat-caption"
                        *ngFor="let type of pokemon.types"
                        [ngStyle]="{ 'background-color': getType(type)!.color }"
                    >
                        <span class="type-icon-wrapper">
                            <img
                                class="type-icon"
                                [src]="
                                    '../../../assets/icons/' +
                                    getType(type)!.name +
                                    '_icon.webp'
                                "
                                [alt]="getType(type)!.name"
                            />
                        </span>
                        <span class="type-name">
                            {{ getType(type)!.frName | uppercase }}
                        </span>
                        <span class="spacing"></span>
                    </span>
                </div>
            </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getTotalStats(pokemon.stats) }}
            </td>
        </ng-container>

        <!-- Hp Column -->
        <ng-container matColumnDef="hp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hp</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "hp") }}
            </td>
        </ng-container>

        <!-- Attack Column -->
        <ng-container matColumnDef="atk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Atk</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "attack") }}
            </td>
        </ng-container>

        <!-- Defense Column -->
        <ng-container matColumnDef="def">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Def</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "defense") }}
            </td>
        </ng-container>

        <!-- Special Attack Column -->
        <ng-container matColumnDef="spAtk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sp. Atk</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "special-attack") }}
            </td>
        </ng-container>

        <!-- Special Defense Column -->
        <ng-container matColumnDef="spDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sp. Def</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "special-defense") }}
            </td>
        </ng-container>

        <!-- Speed Column -->
        <ng-container matColumnDef="speed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Speed</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "speed") }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <div class="no-data-row-wrapper" *ngIf="!dataIsLoading">
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    No data matching the filter "{{ searchInput.value }}"
                </td>
            </tr>
        </div>
    </table>
    <div class="spinner-wrapper" *ngIf="dataIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-paginator
        class="paginator mat-elevation-z8"
        [pageSizeOptions]="[20, 50, 200]"
        showFirstLastButtons
        aria-label="Select page of pokemons"
    ></mat-paginator>
</div>
