<div class="container">
    <table
        mat-table
        [dataSource]="pokemonList"
        matSort
        (matSortChange)="sortData($event)"
        class="mat-elevation-z8"
    >
        <!-- Order Column -->
        <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let pokemon; let i = index">
                <span class="icon-wrapper">
                    <img
                        class="icon"
                        [src]="
                            pokemon.icon !== null
                                ? pokemon.icon
                                : getSimilarIcon(
                                      i +
                                          paginator.pageIndex *
                                              paginator.pageSize
                                  )
                        "
                        [alt]="pokemon.name"
                        [matTooltip]="pokemon.name"
                    />
                    {{
                        pokemon.icon === null ? pokemon.order + " // " + i : ""
                    }}
                </span>
                <span class="order">
                    {{ pokemon.order | threeCharacterNumber }}
                </span>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let pokemon">
                <a routerLink="/pokedex">
                    <p class="main-name mat-subheading-2" color="accent">
                        {{ pokemon.name | titlecase }}
                    </p>
                </a>
                <span *ngFor="let name of pokemon.names">
                    <span
                        class="languages-names mat-caption"
                        *ngIf="name.languageCode !== 'en'"
                    >
                        {{ name.name }}
                    </span>
                </span>
            </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let pokemon">
                <p *ngFor="let type of pokemon.types">{{ type }}</p>
            </td>
        </ng-container>

        <!-- Total Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getTotalStats(pokemon.stats) }}
            </td>
        </ng-container>

        <!-- Hp Column -->
        <ng-container matColumnDef="hp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hp</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "hp") }}
            </td>
        </ng-container>

        <!-- Attack Column -->
        <ng-container matColumnDef="atk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Atk</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "attack") }}
            </td>
        </ng-container>

        <!-- Defense Column -->
        <ng-container matColumnDef="def">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Def</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "defense") }}
            </td>
        </ng-container>

        <!-- Special Attack Column -->
        <ng-container matColumnDef="spAtk">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sp. Atk</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "special-attack") }}
            </td>
        </ng-container>

        <!-- Special Defense Column -->
        <ng-container matColumnDef="spDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sp. Def</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "special-defense") }}
            </td>
        </ng-container>

        <!-- Speed Column -->
        <ng-container matColumnDef="speed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Speed</th>
            <td mat-cell *matCellDef="let pokemon">
                {{ getSingleStat(pokemon.stats, "speed") }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="spinner-wrapper" *ngIf="dataIsLoading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-paginator
        class="paginator mat-elevation-z8"
        [pageSizeOptions]="[20, 50, 200, 1000]"
        showFirstLastButtons
        aria-label="Select page of pokemons"
    ></mat-paginator>
</div>
