.header__title {
    margin-left: 2rem;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
}

.header__menu-list-item {
    margin-left: 2rem;
}

.mat-subheading-2 {
    margin-bottom: 0;
}

.active {
    border-bottom: solid 1px #ca2a1b;
}
