<form [formGroup]="filtersForm">
    <!-- Search bar -->
    <!-- <app-search-bar
        (formReady)="onFormReady('searchBarGroup', $event)"
        (applyFilter)="onApplyFilter($event)"
    ></app-search-bar> -->
    <app-search-bar
        controlName="searchBar"
        (applyFilter)="onApplyFilter($event)"
    ></app-search-bar>

    <!-- Type 1 -->
    <app-select
        (applyFilter)="onApplyFilter($event)"
        controlName="firstType"
        label="type"
        [optionsArray]="pokemonTypes"
    ></app-select>

    <!-- Type 2 -->
    <app-select
        (applyFilter)="onApplyFilter($event)"
        controlName="secondType"
        label="type"
        [optionsArray]="pokemonTypes"
    ></app-select>

    <!-- 'is' filters -->
    <app-checkbox-group
        (applyFilter)="onApplyFilter($event)"
        [mainForm]="filtersForm"
        groupName="isFilters"
    ></app-checkbox-group>

    <!-- Advanced options -->
    <mat-accordion>
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title> Advanced filters </mat-panel-title>
                <mat-panel-description>
                    Generations, stats, moves, abilities
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="advanced-filters-wrapper">
                <!-- Generations filter -->
                <app-checkbox-group
                    (applyFilter)="onApplyFilter($event)"
                    [mainForm]="filtersForm"
                    groupName="generationFilters"
                ></app-checkbox-group>

                <!-- Stats -->
                <div class="stats-wrapper">
                    <!-- Hp -->
                    <app-number-comparison
                        (applyFilter)="onApplyFilter($event)"
                        groupName="hp"
                        label="Hp"
                    ></app-number-comparison>

                    <!-- Attack -->
                    <app-number-comparison
                        (applyFilter)="onApplyFilter($event)"
                        groupName="attack"
                        label="Atk"
                    ></app-number-comparison>

                    <!-- Defense -->
                    <app-number-comparison
                        (applyFilter)="onApplyFilter($event)"
                        groupName="defense"
                        label="Def"
                    ></app-number-comparison>

                    <!-- Speed -->
                    <app-number-comparison
                        (applyFilter)="onApplyFilter($event)"
                        groupName="speed"
                        label="Speed"
                    ></app-number-comparison>

                    <!-- Special attack -->
                    <app-number-comparison
                        (applyFilter)="onApplyFilter($event)"
                        groupName="special-attack"
                        label="Sp. Atk"
                    ></app-number-comparison>

                    <!-- Special defense -->
                    <app-number-comparison
                        (applyFilter)="onApplyFilter($event)"
                        groupName="special-defense"
                        label="Sp. Def"
                    ></app-number-comparison>
                </div>

                <div class="moves-abilities-wrapper">
                    <!-- First move -->
                    <app-select
                        (applyFilter)="onApplyFilter($event)"
                        controlName="firstMove"
                        label="move"
                        [optionsArray]="movesList"
                        [dataIsLoading]="movesDataIsLoading"
                    ></app-select>

                    <!-- Second move-->
                    <app-select
                        (applyFilter)="onApplyFilter($event)"
                        controlName="secondMove"
                        label="move"
                        [optionsArray]="movesList"
                    ></app-select>

                    <!-- Ability -->
                    <app-select
                        (applyFilter)="onApplyFilter($event)"
                        controlName="ability"
                        label="ability"
                        [optionsArray]="abilitiesList"
                    ></app-select>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</form>
